# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user
*.csproj.user*
.vs/

# Rider
.idea/
*.sln.iml

# Build outputs
artifacts/
TestResults/

# OS files
.DS_Store
Thumbs.db

# Archives
*.zip

# NuGet
packages/
.nuget/

# Logs
*.log

# Node
node_modules/

# Coverage
coverage/

# Environment
.env
.env.*
